body{
    padding: 10px;
    font-size: large;
    background-color: rgb(226, 219, 226);
}
.caption{
    text-align: center;
    padding: 20px;
    font-size: larger;
    color: rgb(145, 0, 142);
}
button{
    padding: 10px 20px;
    color: white;
    background-color: rgb(145, 0, 142);
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: large;
}
.buttons{
    text-align: center;
}
.fields{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}
h1{
    color: rgb(145, 0, 142);
}
input{
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(145, 0, 142);
}
.group_set{
    color: rgb(145, 0, 142);
    font-weight: bold;
}
.department_wrapper{
    width: 30%;
    min-width: 250px;
    margin-bottom: 15px;
}
.drop_down{
    background-color: rgb(145, 0, 142);
    transform: scale(1.5);
    color: white;
    border-radius: 50%;
    margin: 5px;
}
.drop_down:hover{
    background-color: rgb(227, 0, 224);
}
.departments{
    display: none;
}
.dept{
    padding: 5px;
    display: flex;
    
}
.dept:hover{
    background-color: rgb(255, 138, 253);
    cursor: pointer;
}
.indicator{
    border: 2px solid white;
    padding: 2px;
    width: 15px;
    border-radius: 50%;
    margin-left: auto;
    background-color: rgb(145, 0, 142);
}
.indicator{
    display: none;
}